<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bmi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BMI"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GraphResult"
            android:exported="false" />
        <activity
            android:name=".ShowResultQuiz"
            android:exported="false" />
        <activity
            android:name=".PreviousTable"
            android:exported="false" />
        <activity
            android:name=".QuizLife"
            android:exported="false" />
        <activity
            android:name=".MemoryGood"
            android:exported="false" />
        <activity
            android:name=".DaysChallenge"
            android:exported="false" />
        <activity
            android:name=".GrillHealthy"
            android:exported="false" />
        <activity
            android:name=".RehydrationActivity"
            android:exported="false" />
        <activity
            android:name=".NewNutrion"
            android:exported="false" />
        <activity
            android:name=".LibraryPDF"
            android:exported="false" />
        <activity
            android:name=".CalculateBMI"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>